<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link type="text/css" rel="stylesheet" href="~/Content/materialize/css/materialize.css" media="screen,projection" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/materialize/materialize.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-cookies.js"></script>
</head>
<body ng-controller="ctrl">
    <div>
        @RenderBody()
    </div>
    <script src="~/Js/app.js"></script>
    <script src="~/Js/constant.js"></script>
    <script src="~/Js/config.js"></script>
    <script src="~/Js/factory.js"></script>
    <script src="~/Js/ctrl.js"></script>
    <script src="~/Js/indexctrl.js"></script>
    <script src="~/Js/loginctrl.js"></script>
    <script src="~/Js/run.js"></script>
</body>
</html>
