@{ Layout = null; }
<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body ng-controller="ctrl">
    <ng-view></ng-view>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-cookies.js"></script>
    <script src="~/Scripts/app.js"></script>
</body>
</html>